
CAS_Engineering_Main/.vs/CAS_Engineering_Main/v17/.suo
CAS_Engineering_Main/CAS_Engineering_Main/obj/Debug/CAS_Engineering_Main.csproj.AssemblyReference.cache
CAS_Engineering_Main/CAS_Engineering_Main/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CAS_Engineering_Main/.vs/CAS_Engineering_Main/v17/.suo
*.cache
